body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    transition: margin-left 0.3s;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color:  #1a252f;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    transition: transform 0.3s ease;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.sidebar-header {
    text-align: center;
    padding: 20px;
    background-color: #1a252f;
    border-bottom: 1px solid   #34495e;
}

.sidebar-header h2 {
    margin: 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    overflow-y: auto;
}

.sidebar-menu li {
    border-bottom: 1px solid #34495e;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-menu li a:hover {
    background-color: #34495e;
}

.sidebar-menu li a i {
    margin-right: 15px;
}

.sidebar-menu li a span {
    flex: 1;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    background-color: #ecf0f1;
    height: 100%;
    overflow-y: auto;
    transition: margin-left 0.3s;
}

.content-hidden-sidebar {
    margin-left: 0;
}

h1 {
    color: #2c3e50;
}
.school-caption {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Adjust font style if needed */
}


.swiper-container {
    width: 100%;
    max-width: 1200px;
    height: 400px; /* Set a height that looks good for your design */
    margin: auto;
    position: relative;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire slide area */
}
.slide-caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
}
.swiper-button-next, .swiper-button-prev {
    color: white;
}
.swiper-pagination-bullet {
    background-color: white;
}

 